
h1 > small {
    display: block;
    font-family: "Apple Braille";
    padding-top: 10px;
}


.circle_attr{
    width : 120px;
    height : 120px;
    margin : 2em;
}

.tech-imgs img {
    width: 210px;
    height: 120px;
    margin: 3em;

}

.small-tech-imgs img {
    width: 70px;
    height: 70px;
    margin: 1em;
}

#spigot img {
    position: relative;
    width: 55px;
    height: 55px;
    top: -20px;

}

nav {
    margin-top: 3em;
}

#small_first_img{
    padding-top: 12px;
    padding-left: 0;
    margin-left: -25px;
}

.small-tech-imgs  {
    margin-top: 2em;
}







